<section class="">
    <section class="container text-center">
        <div class="row">
            <div class="col">
                <h1>The Tech Blog</h1>
            </div>
        </div>
        <form>
            <h1 class="h3 mb-3 fw-normal">Log In</h1> 
            <div class="form-floating">
                <input type="text" class="form-control" id="logInEmailInput"
                placeholder="username">
                <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="logInPasswordInput" placeholder="Password">
                <label for="floatingInput">Password</label>
            </div>
            <button id="logIn" class="btn btn-primary w-100 py-2 my-2" type="submit">Log In</button>
            <button id="signUpInstead" class="btn btn-primary w-100 py-2" type="submit">Sign Up Instead</button>
        </form>
        </div>
    </section>
</section>

</section>

<script src="js/login.js"></script>