<section class="">
    <section class="container text-center">
        <div class="row">
            <div class="col">
                <h1>The Tech Blog</h1>
            </div>
            <form class="form mb-3">
                <label for="posttInput" class="form-label">New Post</label>
                <input type="text" class="form-control" id="postInput" rows="3"></input>
                <button type="button" class="btn btn-primary" id="postButton">Submit Post</button>
            </form>
    </section>
</section>

</section>