<section class="">
    <section class="container text-center">
        <div class="row">
            <div class="col">
                <h1 class="my-4">The Tech Blog</h1>
            </div>
        </div>
        <form>
            <h1 class="h3 mb-3 fw-normal">Sign Up!</h1> 
            <div class="form-floating my-1">
                <input type="text" class="form-control" id="signUpEmailInput"
                placeholder="username">
                <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating my-1">
                <input type="password" class="form-control" id="signUpPasswordInput" placeholder="Password">
                <label for="floatingInput">Password</label>
            </div>
            <button id="signUp" class="btn btn-primary w-100 py-2 my-3" type="submit">Sign Up</button>
        </form>
        </div>
    </section>
</section>

</section>

<script src="js/login.js"></script>